html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #efd6d2;
  background: linear-gradient(
    180deg,
    rgba(239, 214, 210, 1) 0%,
    rgba(255, 140, 198, 1) 100%
  );
  background-repeat: no-repeat;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#buttons {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6f5e76;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffdde2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #72ddf7;
}
