html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  background-repeat: no-repeat;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#buttons {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}
