html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #efd6d2;
  background: linear-gradient(
    180deg,
    rgba(239, 214, 210, 1) 0%,
    rgba(255, 140, 198, 1) 100%
  );
  background-repeat: no-repeat;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: EFD6D2;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#buttons {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6f5e76;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffdde2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #72ddf7;
}

.window {
  font-family: Georgia, "Times New Roman", Times, serif;

  min-width: 200px;
  max-width: 600px;
  min-height: 350px;
  max-height: 500px;
  padding: 5px;
  background-color: #faf9f6;
  border: solid 5pt #de369d;
  border-top: 34pt #de369d;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.window > .header {
  position: relative;
  top: -33pt;
  display: flex;
}
#header > .pad {
  flex-grow: 1;
}
.header > .buttons {
  display: flex;
}
.buttons > div {
  height: 12pt;
  width: 12pt;
  font-size: 10pt;
  text-align: center;
  background-color: darkred;
  margin: 2pt;
}
.window > .content {
  overflow-x: scroll;
  height: 100%;
}
